@import "tailwindcss";
@import "./font/index.css";
@import "./utilites.css";
@import "./shadcn.css";
@import "./vidstack.css";

@theme {
  --font-poppins: "Poppins", sans-serif;
}

html {
  font-family: var(--font-poppins);
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
